---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ColorScript from "../components/ColorScript.astro";
import Tags from "../components/Tags.astro";
import { title } from "../settings/settings.json"
import getTags from "../scripts/getTags";
import { Content as AboutContent } from "../content/about.md";

const posts = await getCollection("posts");
const allTags = getTags(posts);
---

<!doctype html>
<html lang="en-us">
	<BaseHead title={`About | ${title}`} description="About Gagan Deep Singh" />
	<body>
		<Header />
		<main>
			<article>
				<h1>About</h1>
				<div class="blog-post">
					<AboutContent />
				</div>
			</article>
		</main>
		<Tags tags={allTags} all />
		<Footer />
		<ColorScript />
	</body>
</html>
