---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Gagan Deep Singh. <a href="https://github.com/gagangulyani/blogs">This blog is open source</a>! <3
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
